
.logo {
  font-size: 48px;
  font-weight: 800;
}

header {
  background: #033048;
  padding: 25px 0;
  overflow: hidden;
}
header .logo {
  color: #fff;
  float: left;
}

header nav {
  float: right;
  margin-top: 15px;
}
header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
}
header nav ul li a {
  color: #f9e42e;
}

body {
  color: #043049;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #f0efef;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
}

h2 {
  color: navy;
}


yellow: #f9e42e
dark blue: #033048
light grey: #606161
almost black: #121212

Font: Open Sans (Google Font: https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans)
Weight: Light, Light Italic, Semibold, Extrabold

Nav: Semibold, 24px

Main column width: 700px
Sidebar width: 240px
Gutter: 20px

Post Titles - 40px, semibold
"How I implemented Relaxr in 2 weeks and changed my life."
"I traveled across the globe thanks to Relaxr’s Excel auomation"

Body text - Light 24px
Read More - 24px semibold

Sidebar headers - 32px, extra bold
Categories list - 24px, light
"Success stories
Stats
How tos
Best of
Business tips"

About text - 22px light
Proin sed justo vel sapien varius auctor. Proin scelerisque massa at luctus tincidunt. Fusce porttitor, sapien sed tincidunt fringilla.
Learn More - Semibold, 22
