
.logo {
  font-size: 48px;
  font-weight: 800;
}

header {
  background: #033048;
  padding: 25px 0;
  overflow: hidden;
}
header .logo {
  color: #fff;
  float: left;
}

header nav {
  float: right;
  margin-top: 15px;
}
header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
}
header nav ul li a {
  color: #f9e42e;
}

body {
  color: #043049;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #f0efef;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
}

h2 {
  color: navy;
}

footer {
  background-color: black;
}

footer .logo {
  color: yellow;
  float: center;
}
